{
  "openapi": "3.1.0",
  "info": {
    "title": "Operations API",
    "version": "3.0.0",
    "description": "Airline API endpoints for server-to-server communication using OAuth 2.0 Client Credentials grant. These endpoints provide access to airline-specific data without user interaction. \n\n## OAuth 2.0 Client Credentials Flow\n\n1. **Request access token** - Use /oauth/token with client credentials\n2. **Make API requests** - Use Bearer token in Authorization header\n\nSee the OAuth endpoints documentation below for detailed parameters and examples.\n\n## Token Information\n- **Expiry**: 7 days (604800 seconds)\n- **Grant Type**: Client Credentials (machine-to-machine)\n- **Authentication**: Client ID and secret required\n\n## Security Considerations\n- **Protect client secrets** - store securely and never expose in public repositories, logs, or client-side code\n- **Secure token storage** - treat access tokens as sensitive credentials with appropriate access controls\n- **Use HTTPS only** - all API communications must occur over secure connections\n- **Rotate credentials regularly** - implement periodic client secret rotation and revoke unused clients\n\n## Rate Limiting\n- Limited to 100 requests per minute per airline\n- All OAuth clients for an airline share the same rate limit pool\n- Check X-RateLimit-* headers for current limits and remaining requests\n\n## Obtaining Bearer Token\nTo convert your client credentials to a Bearer token:\n\n**Endpoint**: POST /oauth/token\n**Content-Type**: application/x-www-form-urlencoded\n\n**Required Parameters** (form-encoded in request body):\n- `grant_type`: Must be \"client_credentials\"\n- `client_id`: Your numeric client ID\n- `client_secret`: Your alphanumeric client secret string\n- `scope`: Set to \"*\" for full access\n\n**Response**: JSON object containing:\n- `access_token`: The Bearer token to use in Authorization headers\n- `token_type`: Will be \"Bearer\"\n- `expires_in`: Token lifetime in seconds (604800 = 7 days)\n\nUse the returned access_token as \"Bearer {token}\" in the Authorization header for all subsequent API requests"
  },
  "servers": [
    {
      "url": "https://vamsys.io/api/v3/operations",
      "description": "Operations API"
    }
  ],
  "tags": [
    {
      "name": "Airports",
      "description": "Airport management endpoints"
    },
    {
      "name": "Sceneries",
      "description": "Airport scenery addon management"
    },
    {
      "name": "Hubs",
      "description": "Hub management and pilot assignments"
    },
    {
      "name": "Fleet",
      "description": "Fleet management"
    },
    {
      "name": "Aircraft",
      "description": "Aircraft management"
    },
    {
      "name": "Liveries",
      "description": "Aircraft livery approval and management"
    },
    {
      "name": "Badges",
      "description": "Badge management and pilot assignments"
    },
    {
      "name": "Parameters",
      "description": "Callsign parameter management"
    },
    {
      "name": "Routings",
      "description": "Flight routing management"
    },
    {
      "name": "Routes",
      "description": "Flight route management with comprehensive scheduling and operations"
    },
    {
      "name": "Loadfactors",
      "description": "Load factor profile management"
    },
    {
      "name": "Containers",
      "description": "Cargo container configuration and management"
    },
    {
      "name": "SimBrief",
      "description": "SimBrief Data management"
    },
    {
      "name": "Ranks",
      "description": "Pilot rank management and progression hierarchy"
    },
    {
      "name": "Alerts",
      "description": "Alert management for pilot notifications"
    },
    {
      "name": "NOTAMs",
      "description": "Notices to Airmen management and acknowledgments"
    },
    {
      "name": "Bookings",
      "description": "Booking management endpoints"
    },
    {
      "name": "PIREPs",
      "description": "Pilot Reports (flight logs) management and filtering"
    },
    {
      "name": "Pilots",
      "description": "Pilot management and administrative actions"
    },
    {
      "name": "Registration Review",
      "description": "Pilot registration approval workflow"
    },
    {
      "name": "Transfer Review",
      "description": "Pilot transfer between airlines approval workflow"
    },
    {
      "name": "Flight Map",
      "description": "Live flight tracking and real-time position data"
    },
    {
      "name": "Statistics",
      "description": "Airline operational statistics and performance metrics"
    }
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "paths": {
    "/activities": {
      "get": {
        "operationId": "activity.index",
        "description": "Returns a unified list of all activity types with minimal data.\nEach activity includes a `detail_url` for retrieving full details from type-specific endpoints.\n\nBy default, excludes past activities (where end < now) and CuratedRoster types.\nUse `filter[include_past]=true` to include past activities.\nUse `filter[type]=CuratedRoster` to explicitly include curated rosters.",
        "summary": "List Activities",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format - must be application/json for API responses",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Available sorts are `id`, `name`, `type`, `start`, `end`, `show_from`, `order`, `created_at`, `updated_at`. You can sort by multiple options by separating them with a comma. To sort in descending order, use `-` sign in front of the sort, for example: `-id`.",
            "schema": {
              "type": "string",
              "default": "order, -start"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "The number of results that will be returned per page.",
            "schema": {
              "type": "integer",
              "default": 15
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "The cursor to start the pagination from.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[type]",
            "in": "query",
            "description": "Filter by activity type",
            "schema": {
              "type": "string",
              "examples": [
                "Event"
              ]
            }
          },
          {
            "name": "filter[subtype]",
            "in": "query",
            "description": "Filter by activity subtype (for Event/Tour)",
            "schema": {
              "type": "string",
              "examples": [
                "routes"
              ]
            }
          },
          {
            "name": "filter[tag]",
            "in": "query",
            "description": "Filter by tag(s)\nReturns activities that have ALL of the specified tags\nAccepts single tag or comma-separated list",
            "schema": {
              "type": "string",
              "examples": [
                "seasonal or seasonal,charity"
              ]
            }
          },
          {
            "name": "filter[active]",
            "in": "query",
            "description": "Filter to currently active activities (start <= now <= end)",
            "schema": {
              "type": "string",
              "examples": [
                true
              ]
            }
          },
          {
            "name": "filter[upcoming]",
            "in": "query",
            "description": "Filter to upcoming activities (start > now)",
            "schema": {
              "type": "string",
              "examples": [
                true
              ]
            }
          },
          {
            "name": "filter[visible]",
            "in": "query",
            "description": "Filter to visible activities (show_from <= now)",
            "schema": {
              "type": "string",
              "examples": [
                true
              ]
            }
          },
          {
            "name": "filter[registration_required]",
            "in": "query",
            "description": "Filter by registration requirement",
            "schema": {
              "type": "string",
              "examples": [
                true
              ]
            }
          },
          {
            "name": "filter[registration_open]",
            "in": "query",
            "description": "Filter to activities with open registration window\n(registration_start <= now <= registration_end)",
            "schema": {
              "type": "string",
              "examples": [
                true
              ]
            }
          },
          {
            "name": "filter[include_past]",
            "in": "query",
            "description": "Include past activities (where end < now)\nBy default, past activities are excluded",
            "schema": {
              "type": "string",
              "examples": [
                true
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `ActivitySummaryResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ActivitySummaryCollection"
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0,
                      "additionalItems": false
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "string"
                        },
                        "next_cursor": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "type": "string"
                        },
                        "prev_cursor": {
                          "type": "string"
                        },
                        "prev_page_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "path",
                        "per_page",
                        "next_cursor",
                        "next_page_url",
                        "prev_cursor",
                        "prev_page_url"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          }
        },
        "x-scalar-stability": "experimental"
      }
    },
    "/activities/registrations/{activity_id}": {
      "get": {
        "operationId": "activityRegistration.index",
        "description": "Returns a list of registrations for a specific activity. Registrations represent\npilots who have signed up for participation in activities that require registration.",
        "summary": "List activity registrations",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format - must be application/json for API responses",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "activity_id",
            "in": "path",
            "required": true,
            "description": "The activity to list registrations for (resolved via route binding)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Available sorts are `id`, `pilot_id`, `created_at`, `updated_at`. You can sort by multiple options by separating them with a comma. To sort in descending order, use `-` sign in front of the sort, for example: `-id`.",
            "schema": {
              "type": "string",
              "default": "-created_at"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "The number of results that will be returned per page.",
            "schema": {
              "type": "integer",
              "default": 15
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "The cursor to start the pagination from.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[pilot_id]",
            "in": "query",
            "description": "Filter by pilot ID",
            "schema": {
              "type": "string",
              "examples": [
                123
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `ActivityRegistrationResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ActivityRegistrationCollection"
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0,
                      "additionalItems": false
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "string"
                        },
                        "next_cursor": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "type": "string"
                        },
                        "prev_cursor": {
                          "type": "string"
                        },
                        "prev_page_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "path",
                        "per_page",
                        "next_cursor",
                        "next_page_url",
                        "prev_cursor",
                        "prev_page_url"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        },
        "x-scalar-stability": "experimental"
      }
    },
    "/activities/registrations/{activity_registration_id}": {
      "delete": {
        "operationId": "activityRegistration.destroy",
        "description": "Permanently deletes an activity registration. This action cannot be undone.\nThe pilot will need to re-register if they wish to participate again.",
        "summary": "Delete activity registration",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format - must be application/json for API responses",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "activity_registration_id",
            "in": "path",
            "required": true,
            "description": "The registration to delete (resolved via route binding)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        },
        "x-scalar-stability": "experimental"
      }
    },
    "/activities/logbooks/{activity_id}": {
      "get": {
        "operationId": "activityLogbook.index",
        "description": "Returns a list of logbook entries for a specific activity. Logbooks track\npilot progress and completions for activities, including leg status for\nmulti-leg activities and contribution data for community goals/challenges.",
        "summary": "List activity logbooks",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format - must be application/json for API responses",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "activity_id",
            "in": "path",
            "required": true,
            "description": "The activity to list logbooks for (resolved via route binding)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Available sorts are `id`, `pilot_id`, `status`, `created_at`, `updated_at`. You can sort by multiple options by separating them with a comma. To sort in descending order, use `-` sign in front of the sort, for example: `-id`.",
            "schema": {
              "type": "string",
              "default": "-created_at"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "The number of results that will be returned per page.",
            "schema": {
              "type": "integer",
              "default": 15
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "The cursor to start the pagination from.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[pilot_id]",
            "in": "query",
            "description": "Filter by pilot ID",
            "schema": {
              "type": "string",
              "examples": [
                123
              ]
            }
          },
          {
            "name": "filter[status]",
            "in": "query",
            "description": "Filter by logbook status",
            "schema": {
              "type": "string",
              "examples": [
                "completed"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated set of `ActivityLogbookResource`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ActivityLogbookCollection"
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0,
                      "additionalItems": false
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "string"
                        },
                        "next_cursor": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "type": "string"
                        },
                        "prev_cursor": {
                          "type": "string"
                        },
                        "prev_page_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "path",
                        "per_page",
                        "next_cursor",
                        "next_page_url",
                        "prev_cursor",
                        "prev_page_url"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        },
        "x-scalar-stability": "experimental"
      }
    },
    "/fleet/{fleet_id}/aircraft": {
      "get": {
        "operationId": "aircraft.index",
        "description": "Returns a cursor-paginated list of aircraft in the specified fleet.\nEach aircraft belongs to a fleet type that defines its base characteristics.\nWeight values default to kg unless weight_unit=\"lbs\" is specified.",
        "summary": "List aircraft",
        "tags": [
          "Aircraft"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format - must be application/json for API responses",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "fleet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Available sorts are `id`, `name`, `registration`, `selcal`, `hexcode`, `hide_in_phoenix`, `created_at`, `updated_at`. You can sort by multiple options by separating them with a comma. To sort in descending order, use `-` sign in front of the sort, for example: `-id`.",
            "schema": {
              "type": "string",
              "default": "name"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "The number of results that will be returned per page.",
            "schema": {
              "type": "integer",
              "default": 15
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "The cursor to start the pagination from.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[name]",
            "in": "query",
            "description": "Filter by aircraft name (partial match)",
            "schema": {
              "type": "string",
              "examples": [
                "Boeing 737"
              ]
            }
          },
          {
            "name": "filter[registration]",
            "in": "query",
            "description": "Filter by registration (exact match)",
            "schema": {
              "type": "string",
              "examples": [
                "EI-DAC"
              ]
            }
          },
          {
            "name": "filter[type_id]",
            "in": "query",
            "description": "Filter by fleet type ID (exact match)",
            "schema": {
              "type": "string",
              "examples": [
                5
              ]
            }
          },
          {
            "name": "filter[selcal]",
            "in": "query",
            "description": "Filter by SELCAL code (exact match)",
            "schema": {
              "type": "string",
              "examples": [
                "AB-CD"
              ]
            }
          },
          {
            "name": "filter[hexcode]",
            "in": "query",
            "description": "Filter by hex code (exact match)",
            "schema": {
              "type": "string",
              "examples": [
                "4CA2B3"
              ]
            }
          },
          {
            "name": "filter[hide_in_phoenix]",
            "in": "query",
            "description": "Filter by Phoenix visibility (exact match)",
            "schema": {
              "type": "string",
              "examples": [
                false
              ]
            }
          },
          {
            "name": "filter[search]",
            "in": "query",
            "description": "Search across name and registration",
            "schema": {
              "type": "string",
              "examples": [
                737
              ]
            }
          },
          {
            "name": "weight_unit",
            "in": "query",
            "schema": {
              "description": "Weight unit for output (defaults to kg)\nWhen set to \"lbs\", weight values will be converted to pounds",
              "default": "kg",
              "examples": [
                "kg"
              ],
              "$ref": "#/components/schemas/WeightUnit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The cursor paginated collection of `AircraftData`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "The list of items",
                      "items": {
                        "$ref": "#/components/schemas/AircraftData"
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page."
                        },
                        "next_cursor": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "next_cursor_url": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev_cursor": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev_cursor_url": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "path",
                        "per_page",
                        "next_cursor",
                        "next_cursor_url",
                        "prev_cursor",
                        "prev_cursor_url"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "x-scalar-stability": "experimental"
      },
      "post": {
        "operationId": "aircraft.store",
        "description": "Creates a new aircraft in the specified fleet. The aircraft will\ninherit capacity limits from its fleet unless overridden with specific values.",
        "summary": "Create aircraft",
        "tags": [
          "Aircraft"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format - must be application/json for API responses",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "fleet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "`CreateAircraftData`",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAircraftData"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "`AircraftData`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AircraftData"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "validation_failed"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "An aircraft with this registration already exists in your airline."
                      ]
                    },
                    "field": {
                      "type": "string",
                      "enum": [
                        "registration"
                      ]
                    }
                  },
                  "required": [
                    "error",
                    "message",
                    "field"
                  ]
                }
              }
            }
          }
        },
        "x-scalar-stability": "experimental"
      }
    },
    "/fleet/{fleet_id}/aircraft/{aircraft_id}": {
      "get": {
        "operationId": "aircraft.show",
        "description": "Returns detailed information about a specific aircraft in the fleet, including its registration,\ncapacity configuration, and SimBrief overrides if configured.\nWeight values default to kg unless weight_unit=\"lbs\" is specified.",
        "summary": "Show aircraft",
        "tags": [
          "Aircraft"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format - must be application/json for API responses",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "fleet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aircraft_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "weight_unit",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`AircraftData`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AircraftData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        },
        "x-scalar-stability": "experimental"
      },
      "put": {
        "operationId": "aircraft.update",
        "description": "Modifies an existing aircraft's details such as registration, name, capacity,\nor SimBrief overrides. To move the aircraft to a different fleet, use the move-fleet endpoint.",
        "summary": "Update aircraft",
        "tags": [
          "Aircraft"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format - must be application/json for API responses",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "fleet_id",
            "in": "path",
            "required": true,
            "description": "The fleet id ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "aircraft_id",
            "in": "path",
            "required": true,
            "description": "The aircraft id ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "`UpdateAircraftData`",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAircraftData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`AircraftData`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AircraftData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "x-scalar-stability": "experimental"
      },
      "delete": {
        "operationId": "aircraft.destroy",
        "description": "Permanently deletes an aircraft from the fleet. This action cannot be undone.",
        "summary": "Delete aircraft",
        "tags": [
          "Aircraft"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format - must be application/json for API responses",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "fleet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aircraft_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "x-scalar-stability": "experimental"
      }
    },
    "/aircraft/{aircraft_id}": {
      "patch": {
        "operationId": "aircraft.moveFleet",
        "description": "Moves an aircraft from its current fleet to a different fleet within the same airline.\nThis endpoint responds to PATCH /aircraft/{aircraft_id} requests.",
        "summary": "Change fleet",
        "tags": [
          "Aircraft"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format - must be application/json for API responses",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "aircraft_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "`MoveAircraftFleetData`",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MoveAircraftFleetData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`AircraftData`",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AircraftData"
                        }
                      },
                      "required": [
                        "data"
                      ]
                    },
                    {
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "x-scalar-stability": "experimental"
      }
    },
    "/airports": {
      "get": {
        "operationId": "airport.index",
        "description": "Returns airports available for your airline's operations. You can filter by airport codes,\nsearch by name, or show only hub airports. Each airport includes location and category information.",
        "summary": "List airports",
        "tags": [
          "Airports"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format - must be application/json for API responses",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Available sorts are `id`, `name`, `icao`, `iata`, `category`, `base`, `suitable_alternate`, `taxi_in_minutes`, `taxi_out_minutes`, `created_at`, `updated_at`. You can sort by multiple options by separating them with a comma. To sort in descending order, use `-` sign in front of the sort, for example: `-id`.",
            "schema": {
              "type": "string",
              "default": "name"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "The number of results that will be returned per page.",
            "schema": {
              "type": "integer",
              "default": 15
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "The cursor to start the pagination from.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[name]",
            "in": "query",
            "description": "Filter by airport name (partial match)",
            "schema": {
              "type": "string",
              "examples": [
                "Los Angeles"
              ]
            }
          },
          {
            "name": "filter[icao]",
            "in": "query",
            "description": "Filter by ICAO code (exact match, 4 characters)",
            "schema": {
              "type": "string",
              "examples": [
                "KLAX"
              ]
            }
          },
          {
            "name": "filter[iata]",
            "in": "query",
            "description": "Filter by IATA code (exact match, 3 characters)",
            "schema": {
              "type": "string",
              "examples": [
                "LAX"
              ]
            }
          },
          {
            "name": "filter[category]",
            "in": "query",
            "description": "Filter by airport category",
            "schema": {
              "type": "string",
              "examples": [
                "C"
              ]
            }
          },
          {
            "name": "filter[base]",
            "in": "query",
            "description": "Filter by hub/base status",
            "schema": {
              "type": "string",
              "examples": [
                true
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The cursor paginated collection of `AirportData`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "The list of items",
                      "items": {
                        "$ref": "#/components/schemas/AirportData"
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page."
                        },
                        "next_cursor": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "next_cursor_url": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev_cursor": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev_cursor_url": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "path",
                        "per_page",
                        "next_cursor",
                        "next_cursor_url",
                        "prev_cursor",
                        "prev_cursor_url"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          }
        },
        "x-scalar-stability": "experimental"
      },
      "post": {
        "operationId": "airport.store",
        "description": "Adds an airport from the global database to your airline's network. Configure it as\na hub/base, set taxi times for flight planning, and define alternate airports.",
        "summary": "Create airport",
        "tags": [
          "Airports"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format - must be application/json for API responses",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "description": "`CreateAirportData`",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAirportData"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "`AirportData`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirportData"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "enum": [
                            "access_denied"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "enum": [
                            "Access to the primary airline is not permitted."
                          ]
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "enum": [
                            "no_primary_airline"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "enum": [
                            "OAuth client does not have a primary airline configured."
                          ]
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "validation_failed"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        },
        "x-scalar-stability": "experimental"
      }
    },
    "/airports/{airport_id}": {
      "get": {
        "operationId": "airport.show",
        "description": "Returns detailed information about a specific airport, including its location,\ncategory, hub status, SimBrief configuration, assigned load factors, and available containers.",
        "summary": "Show airport",
        "tags": [
          "Airports"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format - must be application/json for API responses",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "airport_id",
            "in": "path",
            "required": true,
            "description": "The airport to show",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`AirportData`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AirportData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        },
        "x-scalar-stability": "experimental"
      },
      "put": {
        "operationId": "airport.update",
        "description": "Modifies an airport's configuration such as hub status, taxi times, briefing information,\nand preferred alternate airports for flight planning.",
        "summary": "Update airport",
        "tags": [
          "Airports"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format - must be application/json for API responses",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "airport_id",
            "in": "path",
            "required": true,
            "description": "The airport to update",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "`UpdateAirportData`",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAirportData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`AirportData`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AirportData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "x-scalar-stability": "experimental"
      },
      "delete": {
        "operationId": "airport.destroy",
        "description": "Removes an airport from your airline's network. The airport will no longer be available\nfor route planning. Cannot delete airports with active routes.",
        "summary": "Delete airport",
        "tags": [
          "Airports"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format - must be application/json for API responses",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "airport_id",
            "in": "path",
            "required": true,
            "description": "The airport to delete",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        },
        "x-scalar-stability": "experimental"
      }
    },
    "/alerts": {
      "get": {
        "operationId": "alert.index",
        "description": "Returns a cursor-paginated list of alerts. Alerts are displayed to pilots on various\npages to communicate important information, system status, or operational notices.\nThey can be scheduled, set to expire, and prioritized by display order.",
        "summary": "List alerts",
        "tags": [
          "Alerts"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format - must be application/json for API responses",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Available sorts are `id`, `order_column`, `title`, `type`, `start_showing`, `stop_showing`, `created_at`. You can sort by multiple options by separating them with a comma. To sort in descending order, use `-` sign in front of the sort, for example: `-id`.",
            "schema": {
              "type": "string",
              "default": "order_column, id"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "The number of results that will be returned per page.",
            "schema": {
              "type": "integer",
              "default": 15
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "The cursor to start the pagination from.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[type]",
            "in": "query",
            "description": "Filter by alert type",
            "schema": {
              "type": "string",
              "examples": [
                "warning"
              ]
            }
          },
          {
            "name": "filter[page]",
            "in": "query",
            "description": "Filter by pages where alert is shown",
            "schema": {
              "type": "string",
              "examples": [
                "dashboard"
              ]
            }
          },
          {
            "name": "filter[active]",
            "in": "query",
            "description": "Filter to show only active alerts (currently showing)",
            "schema": {
              "type": "string",
              "examples": [
                true
              ]
            }
          },
          {
            "name": "filter[permanent]",
            "in": "query",
            "description": "Filter to show only permanent alerts (no end date)",
            "schema": {
              "type": "string",
              "examples": [
                true
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The cursor paginated collection of `AlertData`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "The list of items",
                      "items": {
                        "$ref": "#/components/schemas/AlertData"
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page."
                        },
                        "next_cursor": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "next_cursor_url": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev_cursor": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev_cursor_url": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "path",
                        "per_page",
                        "next_cursor",
                        "next_cursor_url",
                        "prev_cursor",
                        "prev_cursor_url"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "x-scalar-stability": "experimental"
      },
      "post": {
        "operationId": "alert.store",
        "description": "Creates a new alert for the airline. Alerts are displayed to pilots on specified\npages (Phoenix dashboard, Pegasus, etc.) to communicate important information.\nAlerts can be scheduled to start and stop showing at specific times. Use the\nposition parameter to control where the alert appears in the display order.",
        "summary": "Create alert",
        "tags": [
          "Alerts"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format - must be application/json for API responses",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "description": "`CreateAlertData`",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAlertData"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "`AlertData`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertData"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "no_primary_airline"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "OAuth client does not have a primary airline configured."
                      ]
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "x-scalar-stability": "experimental"
      }
    },
    "/alerts/{alert_id}": {
      "get": {
        "operationId": "alert.show",
        "description": "Returns detailed information about a specific alert including its content,\ndisplay settings, and scheduling configuration.",
        "summary": "Show alert",
        "tags": [
          "Alerts"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format - must be application/json for API responses",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "alert_id",
            "in": "path",
            "required": true,
            "description": "The alert to show (resolved via route binding)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`AlertData`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AlertData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        },
        "x-scalar-stability": "experimental"
      },
      "put": {
        "operationId": "alert.update",
        "description": "Performs a partial update on an existing alert. Only fields provided in the request\nwill be updated - all fields are optional. This follows PATCH semantics where omitted\nfields retain their current values. Use the position parameter to change the alert's\ndisplay order.",
        "summary": "Update alert",
        "tags": [
          "Alerts"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format - must be application/json for API responses",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "alert_id",
            "in": "path",
            "required": true,
            "description": "The alert to update (resolved via route binding)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "`UpdateAlertData`",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAlertData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`AlertData`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AlertData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "x-scalar-stability": "experimental"
      },
      "delete": {
        "operationId": "alert.destroy",
        "description": "Soft deletes an alert. The alert will no longer be displayed to pilots but\ncan be restored through the admin panel if needed.",
        "summary": "Delete alert",
        "tags": [
          "Alerts"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format - must be application/json for API responses",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "alert_id",
            "in": "path",
            "required": true,
            "description": "The alert to delete (resolved via route binding)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        },
        "x-scalar-stability": "experimental"
      }
    },
    "/badges": {
      "get": {
        "operationId": "badge.index",
        "description": "Returns your airline's achievement badges. Each badge represents a milestone or achievement\nthat pilots can earn.",
        "summary": "List badges",
        "tags": [
          "Badges"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format - must be application/json for API responses",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Available sorts are `name`, `category`, `order`, `created_at`. You can sort by multiple options by separating them with a comma. To sort in descending order, use `-` sign in front of the sort, for example: `-name`.",
            "schema": {
              "type": "string",
              "default": "id"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "The number of results that will be returned per page.",
            "schema": {
              "type": "integer",
              "default": 15
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "The cursor to start the pagination from.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[category]",
            "in": "query",
            "description": "Filter by badge category",
            "schema": {
              "type": "string",
              "examples": [
                "Achievement"
              ]
            }
          },
          {
            "name": "filter[manually_awardable]",
            "in": "query",
            "description": "Filter by manually awardable badges",
            "schema": {
              "type": "string",
              "examples": [
                true
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The cursor paginated collection of `BadgeData`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "The list of items",
                      "items": {
                        "$ref": "#/components/schemas/BadgeData"
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page."
                        },
                        "next_cursor": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "next_cursor_url": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev_cursor": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev_cursor_url": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "path",
                        "per_page",
                        "next_cursor",
                        "next_cursor_url",
                        "prev_cursor",
                        "prev_cursor_url"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          }
        },
        "x-scalar-stability": "experimental"
      },
      "post": {
        "operationId": "badge.store",
        "description": "Adds a new achievement badge to your airline. Badges can be awarded automatically based on\nrules you define (like \"500 flight hours\") or awarded manually by administrators.\nUpload a badge image as base64 data and optionally configure automatic awarding rules.",
        "summary": "Create badge",
        "tags": [
          "Badges"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format - must be application/json for API responses",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "description": "`CreateBadgeData`",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBadgeData"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "`BadgeData`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadgeData"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "enum": [
                            "airline_access_denied"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "enum": [
                            "Access to the primary airline is not permitted."
                          ]
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "enum": [
                            "no_primary_airline"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "enum": [
                            "OAuth client does not have a primary airline configured."
                          ]
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "enum": [
                            "invalid_rules"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "enum": [
                            "Invalid badge rules configuration."
                          ]
                        },
                        "errors": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message",
                        "errors"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "enum": [
                            "invalid_image"
                          ]
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "x-scalar-stability": "experimental"
      }
    },
    "/badges/{badge_id}": {
      "get": {
        "operationId": "badge.show",
        "description": "Returns detailed information about a specific badge, including its rules,\naward criteria, and display content configuration.",
        "summary": "Show badge",
        "tags": [
          "Badges"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format - must be application/json for API responses",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "badge_id",
            "in": "path",
            "required": true,
            "description": "The badge to show (resolved via route binding)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No need to load relationships as they're not used in BadgeData\n\n\n\n`BadgeData`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BadgeData"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        },
        "x-scalar-stability": "experimental"
      },
      "put": {
        "operationId": "badge.update",
        "description": "Performs a partial update on an existing badge. Only fields provided in the request\nwill be updated - all fields are optional. This follows PATCH semantics where omitted\nfields retain their current values.",
        "summary": "Update badge",
        "tags": [
          "Badges"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format - must be application/json for API responses",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "badge_id",
            "in": "path",
            "required": true,
            "description": "The badge to update (resolved via route binding)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "`UpdateBadgeData`",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBadgeData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`BadgeData`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadgeData"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "enum": [
                            "invalid_rules"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "enum": [
                            "Invalid badge rules configuration."
                          ]
                        },
                        "errors": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message",
                        "errors"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "enum": [
                            "invalid_image"
                          ]
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "x-scalar-stability": "experimental"
      },
      "delete": {
        "operationId": "badge.destroy",
        "description": "Permanently removes a badge from your airline. This will also remove the badge from\nall pilots who have earned it. This action cannot be undone.",
        "summary": "Delete badge",
        "tags": [
          "Badges"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format - must be application/json for API responses",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "badge_id",
            "in": "path",
            "required": true,
            "description": "The badge to delete (resolved via route binding)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        },
        "x-scalar-stability": "experimental"
      }
    },
    "/badges/{badge_id}/pilots": {
      "get": {
        "operationId": "badge.pilots",
        "description": "Returns all pilots who have earned this badge, showing when it was awarded and\nwhich flight triggered the award (for automatic badges). Uses cursor pagination.",
        "summary": "List pilot recipients",
        "tags": [
          "Badges"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format - must be application/json for API responses",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "badge_id",
            "in": "path",
            "required": true,
            "description": "The badge id ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "The number of results that will be returned per page.",
            "schema": {
              "type": "integer",
              "default": 15
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "The cursor to start the pagination from.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Apply sorting (default to created_at descending)",
            "schema": {
              "type": "string",
              "default": "-badge_pilot.created_at"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The cursor paginated collection of `PilotBadgeData`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "The list of items",
                      "items": {
                        "$ref": "#/components/schemas/PilotBadgeData"
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page."
                        },
                        "next_cursor": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "next_cursor_url": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev_cursor": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev_cursor_url": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "path",
                        "per_page",
                        "next_cursor",
                        "next_cursor_url",
                        "prev_cursor",
                        "prev_cursor_url"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        },
        "x-scalar-stability": "experimental"
      }
    },
    "/badges/{badge_id}/pilots/{pilot_id}": {
      "post": {
        "operationId": "badge.awardToPilot",
        "description": "Manually give this badge to a specific pilot. Only works for badges without automatic\nrules. The pilot will receive a notification if your airline has Discord configured.",
        "summary": "Award badge",
        "tags": [
          "Badges"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format - must be application/json for API responses",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "badge_id",
            "in": "path",
            "required": true,
            "description": "The badge id ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pilot_id",
            "in": "path",
            "required": true,
            "description": "The pilot id ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "enum": [
                            "This pilot already has this badge."
                          ]
                        }
                      },
                      "required": [
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "enum": [
                            "This badge cannot be manually awarded. It has automatic rules configured."
                          ]
                        }
                      },
                      "required": [
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "x-scalar-stability": "experimental"
      },
      "delete": {
        "operationId": "badge.removeFromPilot",
        "description": "Takes away a manually awarded badge from a pilot. Only works for badges without\nautomatic rules. Badges earned through automatic rules cannot be removed.",
        "summary": "Remove badge",
        "tags": [
          "Badges"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format - must be application/json for API responses",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "badge_id",
            "in": "path",
            "required": true,
            "description": "The badge id ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pilot_id",
            "in": "path",
            "required": true,
            "description": "The pilot id ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "This badge cannot be manually removed. It has automatic rules configured."
                      ]
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "x-scalar-stability": "experimental"
      }
    },
    "/bookings": {
      "get": {
        "operationId": "booking.index",
        "description": "Returns a cursor-paginated list of flight bookings. This endpoint provides read-only\naccess to booking data. Use the status parameter to filter between current (active),\npast (deleted), and completed (deleted with PIREP) bookings.\n\nNote: Bookings cannot be created or modified through the Operations API. They are\ncreated by pilots through the pilot interface.",
        "summary": "List bookings",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format - must be application/json for API responses",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Available sorts are `id`, `callsign`, `flight_number`, `created_at`, `deleted_at`, `valid_to`. You can sort by multiple options by separating them with a comma. To sort in descending order, use `-` sign in front of the sort, for example: `-id`.",
            "schema": {
              "type": "string",
              "default": "-id"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "The number of results that will be returned per page.",
            "schema": {
              "type": "integer",
              "default": 15
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "The cursor to start the pagination from.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[status]",
            "in": "query",
            "description": "Filter by booking status.\n- current: Active bookings\n- past: Deleted bookings without PIREP\n- completed: Deleted bookings with PIREP\n- all: All bookings regardless of deletion status",
            "schema": {
              "type": "string",
              "default": "current",
              "examples": [
                "current"
              ]
            }
          },
          {
            "name": "filter[pilot_id]",
            "in": "query",
            "description": "Filter by pilot ID",
            "schema": {
              "type": "string",
              "examples": [
                123
              ]
            }
          },
          {
            "name": "filter[aircraft_id]",
            "in": "query",
            "description": "Filter by aircraft ID",
            "schema": {
              "type": "string",
              "examples": [
                456
              ]
            }
          },
          {
            "name": "filter[fleet_id]",
            "in": "query",
            "description": "Filter by fleet ID (through aircraft relationship)",
            "schema": {
              "type": "string",
              "examples": [
                789
              ]
            }
          },
          {
            "name": "filter[departure_id]",
            "in": "query",
            "description": "Filter by departure airport ID",
            "schema": {
              "type": "string",
              "examples": [
                123
              ]
            }
          },
          {
            "name": "filter[arrival_id]",
            "in": "query",
            "description": "Filter by arrival airport ID",
            "schema": {
              "type": "string",
              "examples": [
                456
              ]
            }
          },
          {
            "name": "filter[network]",
            "in": "query",
            "description": "Filter by network - the online network for the flight",
            "schema": {
              "type": "string",
              "examples": [
                "VATSIM"
              ]
            }
          },
          {
            "name": "filter[callsign]",
            "in": "query",
            "description": "Filter by callsign",
            "schema": {
              "type": "string",
              "examples": [
                "VMS123"
              ]
            }
          },
          {
            "name": "filter[flight_number]",
            "in": "query",
            "description": "Filter by flight number",
            "schema": {
              "type": "string",
              "examples": [
                123
              ]
            }
          },
          {
            "name": "filter[created_at]",
            "in": "query",
            "description": "Filter by creation date with operators (=, >, <, >=, <=)\nUse filter[created_at][gte]=2025-01-01 for bookings created on or after date. Supports operators in the value: `>`, `<`, `>=`, `<=`, `<>`, or none (indicating equality). For example: `>value` for greater than `value`, or `value` for equal.",
            "schema": {
              "type": "string",
              "examples": [
                "2025-01-01"
              ]
            }
          },
          {
            "name": "filter[deleted_at]",
            "in": "query",
            "description": "Filter by deletion date with operators (=, >, <, >=, <=)\nUse filter[deleted_at][gte]=2025-01-01 for bookings deleted on or after date. Supports operators in the value: `>`, `<`, `>=`, `<=`, `<>`, or none (indicating equality). For example: `>value` for greater than `value`, or `value` for equal.",
            "schema": {
              "type": "string",
              "examples": [
                "2025-01-01"
              ]
            }
          },
          {
            "name": "filter[valid_to]",
            "in": "query",
            "description": "Filter by validity expiration with operators (=, >, <, >=, <=)\nUse filter[valid_to][lte]=2025-01-01T12:00:00 for bookings expiring before or at time. Supports operators in the value: `>`, `<`, `>=`, `<=`, `<>`, or none (indicating equality). For example: `>value` for greater than `value`, or `value` for equal.",
            "schema": {
              "type": "string",
              "examples": [
                "2025-01-01T12:00:00"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The cursor paginated collection of `BookingData`",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "The list of items",
                      "items": {
                        "$ref": "#/components/schemas/BookingData"
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
[...]
